<p-card>
  <div class="global-wrapper flex gap-8">
    <p-dropdown
      class="global-dropdown"
      [options]="globalMatchOptions"
      [(ngModel)]="globalMatch"
      optionLabel="name"
      optionValue="value"
      (onChange)="filter()"
    ></p-dropdown>
    <p-button
      icon="pi pi-plus"
      [rounded]="true"
      [text]="true"
      (click)="addRule()"
    />
  </div>
  <div class="rule-table">
    <div class="flex gap-4" *ngFor="let rule of rules; let i = index">
      <div class="category">
        <p-dropdown
          [options]="categories"
          [(ngModel)]="rule.category"
          optionLabel="name"
          optionValue="value"
          placeholder="Category"
          (onChange)="rule.values = []; filter()"
        ></p-dropdown>
      </div>
      <div class="operator">
        <p-dropdown
          [options]="matchOptions"
          [(ngModel)]="rule.matchType"
          optionLabel="name"
          optionValue="value"
          (onChange)="filter()"
        ></p-dropdown>
      </div>
      <div class="values">
        <p-multiSelect
          [options]="rule.category ? categoryValues[rule.category] : []"
          [(ngModel)]="rule.values"
          [filter]="false"
          [showHeader]="false"
          [showClear]="false"
          [autofocusFilter]="false"
          emptyMessage="Pick Category First"
          (onChange)="filter()"
          (onFocus)="onMultiselectFocus()"
        >
          <ng-template let-value pTemplate="selectedItems">
            <div class="values-template flex flex-wrap">
              <div [innerHtml]="formatValueList(value)"></div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <div class="remove-button">
        <p-button
          icon="pi pi-minus"
          [rounded]="true"
          [text]="true"
          (click)="deleteRule(i)"
        />
      </div>
    </div>
  </div>
</p-card>
