:host ::ng-deep {
  .p-card {
    width: 100%;
    background: rgba(31, 41, 55, 0.25);
    .p-card-body {
      padding: 0.5rem;
    }
    .p-card-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .p-dropdown-item {
    text-align: left;
  }

  .p-dropdown-label,
  .p-multiselect-label {
    padding: 6px 12px;
  }

  .global-wrapper {
    align-self: start;
    display: flex;
    gap: 8px;
    .global-dropdown {
      width: fit-content;
    }
    .p-button {
      height: 32px;
      width: 32px;
    }
  }

  .rule-table {
    .p-dropdown {
      width: 100%;
      text-align: left;
    }

    .category {
      width: 150px;
      max-width: 150px;
    }

    .operator {
      max-width: 118px;
      width: 118px;
      .p-dropdown-label {
        padding-right: 0;
      }
    }

    .values {
      .p-multiselect {
        width: 100%;
      }
    }
  }
}
