:host ::ng-deep {
  .p-card {
    width: 100%;
    background: rgba(31, 41, 55, 0.25);
    .p-card-body {
      padding: 0.5rem;
    }
    .p-card-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .p-dropdown-item {
    text-align: left;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    width: 2rem;
  }

  .p-dropdown-label,
  .p-multiselect-label {
    padding: 6px 8px;
  }

  .global-wrapper {
    align-self: start;
    display: flex;
    gap: 8px;
    .global-dropdown {
      width: fit-content;
    }
    .p-button {
      height: 32px;
      width: 32px;
    }
  }

  .rule-table {
    > div {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      margin-bottom: 4px;
      > div {
        width: min-content;
      }
    }

    .p-dropdown {
      text-align: left;
    }

    .category {
      .p-dropdown {
        width: 150px;
      }
    }

    .operator {
      .p-dropdown {
        width: 84px;
      }
      .p-dropdown-label {
        padding-right: 0;
      }
    }

    .values {
      width: 100%;
      .p-multiselect {
        width: 100%;
        .values-template {
          display: flex;
          flex-wrap: wrap;
          min-height: 20px;
          div {
            white-space: wrap;
            text-align: left;
          }
        }
      }
    }

    .remove-button .p-button {
      height: 32px;
      width: 32px;
    }
  }
}
