<div class="col-md-12" *ngIf="state === 'capture'">
  <webcam
    [trigger]="invokeObservable"
    [width]="width"
    [allowCameraSwitch]="false"
    [captureImageData]="true"
    (imageCapture)="captureImg($event)"
  ></webcam>
  <p-button (click)="getSnapshot()">Capture Image</p-button>
</div>

<!-- <div class="col-12" *ngIf="state === 'scan'"> -->
<canvas [width]="width" height="auto" id="screenshot" #screenshot></canvas>
<!-- </div> -->

<div *ngIf="state === 'scan'">
  <p-progressSpinner ariaLabel="loading" />
</div>

<div *ngIf="state === 'display'">
  <p-button (click)="state = 'capture'">Capture Image</p-button>
  <h2>{{ foundCard?.name }}</h2>
  <p *ngFor="let rule of rules">
    <span [innerHTML]="rule"></span>
  </p>

  <!-- <p>{{ bestMatch }}</p>
  <p>{{ text }}</p>
  <p>{{ smallestDistance }}</p> -->
</div>
