<app-section-title title="Science Score" imageUrl="/assets/images/games/7-wonders/compass.svg"></app-section-title>
<p-table [value]="science">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Clear</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-science>
    <tr>
      <td [innerHTML]="science.name"></td>
      <td>
        <div class="flex gap-8 space-between count">
          <p-button
            icon="pi pi-minus"
            [rounded]="true"
            [outlined]="true"
            (click)="adjustScience(science, -1)"
          />
          <div>{{ science.count }}</div>
          <p-button
            icon="pi pi-plus"
            [rounded]="true"
            [outlined]="true"
            (click)="adjustScience(science, 1)"
          />
        </div>
      </td>
      <td>
        <p-button
          label="Clear"
          [outlined]="true"
          severity="danger"
          (click)="setScience(science, 0)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-card>
  <h1>{{ maxScienceScore }} Points</h1>
  <p [innerHTML]="scienceString(maxScienceCombo)"></p>
</p-card>

<app-card-camera></app-card-camera>