:host ::ng-deep {
  p-table {
    .p-datatable {
      margin-bottom: 8px;
    }
    td {
      padding: 8px;
      .count {
        align-items: center;
        margin-right: 16px;
      }
    }
    .p-button {
      padding: 4px;
      &.p-button-icon-only {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .p-card {
    width: 300px;
    text-align: center;
    margin: auto;
    h1,
    h4 {
      margin: 0;
    }
  }
}
