<div class="game-title-wrapper">
  <div class="game-title">
    <p-dropdown
      [options]="games"
      [(ngModel)]="selectedGame"
      (onChange)="gameClicked($event.value)"
      [checkmark]="true"
      optionLabel="label"
      [showClear]="false"
      placeholder="Select a Game"
    >
    </p-dropdown>

    <a (click)="cameraClicked()">Camera</a>
  </div>
</div>

<div class="content" *ngIf="nonGame === false">
  <app-default [changeTrigger]="gameChanged"></app-default>
</div>

<router-outlet *ngIf="nonGame"></router-outlet>