:host ::ng-deep {
  .game-title-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
  }

  .game-title {
    margin: auto;
    max-width: fit-content;
    .p-dropdown {
      background: none;
      border: none;

      .p-dropdown-label {
        font-size: x-large;
        font-weight: bold;
      }

      .p-icon-wrapper {
        margin-right: 8px;
      }
    }
  }

  .content {
    margin: 8px auto;
    width: 500px;
    max-width: calc(100vw - 16px);
  }
}
