<app-section-title
  title="Dice{{ rollCount }}"
  imageUrl="/assets/images/rolling-dices.svg"
  [invertImage]="true"
></app-section-title>

<ng-container *ngIf="useSimpleDice; else complexDice">
  <p-selectButton
    [options]="tableViewOptions"
    [(ngModel)]="tableView"
    [unselectable]="true"
    optionLabel="label"
    optionValue="value"
  />
  <app-dice-simple
    *ngIf="tableView !== 'expanded'; else complexDice"
    [diceSet]="diceSet"
    [tableView]="tableView"
  ></app-dice-simple>
</ng-container>

<ng-template #complexDice>
  <p-table
    [value]="diceRolls"
    rowGroupMode="rowspan"
    groupRowsBy="face"
    sortMode="single"
    sortField="face"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Side</th>
        <th style="width: 3rem">#</th>
        <th>P(Exactly #)</th>
        <th>P(At Least #)</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-roll
      let-rowIndex="rowIndex"
      let-rowgroup="rowgroup"
      let-rowspan="rowspan"
    >
      <tr>
        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
          <span class="font-bold ml-2">{{ roll.face }}</span>
        </td>
        <td>{{ roll.count }}</td>
        <td>{{ roll.pExact | number : "1.2-2" }}%</td>
        <td>{{ roll.pAtLeast | number : "1.2-2" }}%</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
