:host ::ng-deep {
  .p-card {
    width: 100%;
    text-align: center;
    margin: auto;
    h1,h4 {
      margin: 0;
    }


    .p-card-body, .p-card-content {
      padding: 0;
    }

    .result {
      padding: 1.25rem;
    }

    .p-accordion-content {
      padding: 0;

      td,th {
        white-space: nowrap;
      }
    }
  }

  .p-multiselect {
    width: 100%;
    max-width: 500px;
    .p-multiselect-label {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .p-multiselect-token-label {
        max-width: 100%;
      }
    }
  }
}
