<app-section-title title="Cards"></app-section-title>

<p *ngIf="game.decks.length > 1 || variesByPlayerCount">
  <span *ngIf="game.decks.length > 1">
    Deck:
    <p-dropdown
      [options]="decks"
      [(ngModel)]="selectedDeckId"
      [showClear]="false"
      [filter]="false"
      (onChange)="selectDeck(); handleChanges()"
    />
  </span>

  <span *ngIf="variesByPlayerCount">
    Players:
    <p-dropdown
      [options]="playerCounts"
      [(ngModel)]="playerCount"
      [showClear]="false"
      [filter]="false"
      (onChange)="handleChanges()"
    />
  </span>
</p>

<p>
  The probability of getting a card that is
  <!-- <app-card-filter
    [allCards]="allCards"
    [playerCount]="playerCount"
    (onChanges)="onValidCardsChange($event)"
  ></app-card-filter> -->
  <app-card-filter-v2
    [allCards]="allCards"
    [playerCount]="playerCount"
    (onChanges)="onValidCardsChange($event)"
  ></app-card-filter-v2>
  within the next
  <p-dropdown
    [options]="drawCounts"
    [(ngModel)]="selectedDrawCount"
    [showClear]="false"
    [filter]="false"
    (onChange)="handleChanges()"
  />
  draw(s)
</p>

<p-card>
  <h1>{{ percentage }}%</h1>
  <h4>{{ totalValidCardsString }}/{{ totalPossibleCards }}</h4>
</p-card>
