<p-table [value]="tableData" styleClass="p-datatable-sm p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Roll</th>
      <th style="width: 20%">Less</th>
      <th style="width: 20%">Sum</th>
      <th style="width: 20%">More</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-roll>
    <tr>
      <td>{{ roll.roll | number : "1.0-0" }}</td>
      <td>
        {{ roll.less | number : tableNumberFormat }}{{ tableNumberSuffix }}
      </td>
      <td>
        {{ roll.value | number : tableNumberFormat }}{{ tableNumberSuffix }}
      </td>
      <td>
        {{ roll.more | number : tableNumberFormat }}{{ tableNumberSuffix }}
      </td>
    </tr>
  </ng-template>
</p-table>
