/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 0;
}

// FLEX
.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.space-between {
  justify-content: space-between;
}
// End Flex

.p-divider {
  margin-top: 0;
}

.p-multiselect-items-wrapper,
.p-dropdown-items-wrapper {
  max-height: calc(100dvh - 16px) !important;
  // max-height: -webkit-fill-available !important;
}

.p-datatable-wrapper {
  border-radius: 4px;
}

.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.4rem;
}
